In [1]:
import arcgis
from getpass import getpass
import pandas as pd

In [2]:
gis_coldbrew = arcgis.gis.GIS(
    url='http://portal.coldbrew.esri.com/portal',
    username='headless', 
    password=getpass('Please enter the headless password: ')
)

Please enter the headless password: ········

In [13]:
store_item_id = 'beb8077b083448b5b2c69fc3bdfa3126'
sdf = arcgis.gis.Item(gis_coldbrew, store_item_id).layers[0].query(
    out_fields='OBJECTID, Target_Locations_LOCNUM, Target_Locations_SALESVOL, SHAPE').df.set_index('OBJECTID')
sdf.head()

,Target_Locations_LOCNUM,Target_Locations_SALESVOL,SHAPE
OBJECTID,,,
1,666990510,35495,"{'x': -121.84299999999993, 'y': 36.62100000000..."
2,653371815,35495,"{'x': -121.81120000000001, 'y': 36.66760000000..."
3,423468472,35495,"{'x': -121.96509999999991, 'y': 36.9753000000001}"
4,511743478,35495,"{'x': -121.77399999999992, 'y': 36.91540000000..."
5,404459478,52059,"{'x': -122.03619999999995, 'y': 37.32310000000..."

In [14]:
sdf = sdf.rename(columns={'Target_Locations_LOCNUM': 'LOCNUM', 'Target_Locations_SALESVOL': 'SALESVOL'})
sdf.head()

,LOCNUM,SALESVOL,SHAPE
OBJECTID,,,
1,666990510,35495,"{'x': -121.84299999999993, 'y': 36.62100000000..."
2,653371815,35495,"{'x': -121.81120000000001, 'y': 36.66760000000..."
3,423468472,35495,"{'x': -121.96509999999991, 'y': 36.9753000000001}"
4,511743478,35495,"{'x': -121.77399999999992, 'y': 36.91540000000..."
5,404459478,52059,"{'x': -122.03619999999995, 'y': 37.32310000000..."

In [20]:
sdf.to_csv('./test_output.csv')